
<script src="new.js"></script>
{{>navBarL}}
<div class="jumbotron jumbotron-fluid" style="background-color: #FFFFFF">
    <h1 style="width: 50%;background-repeat: no-repeat;background-color: #ffffff;font-size: 20px;margin-left: 10%;margin-top: 1%;">Dashboard&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;Tenant Bill Generate{{# if tenantDetails}}<i class="fa fa-chevron-right"></i> Month: {{month}}<i class="fa fa-chevron-right"></i>Showing {{Tenantcount}} VERIFIED tenants{{/if}}</h1>
    {{# if alreadyGenerated}}
    <div class="alert alert-info text-center text-dark shadow d-inline-block" role="alert" style="width: 50%;margin-left: 25%;"><span><strong>Not Allowed !&nbsp; &nbsp;  {{month}} month bill has been already Generated check in&nbsp;</strong><i class="fa fa-chevron-right"></i><strong>&nbsp;</strong><a class="alert-link text-black-50" href="/landlord-trans?fetch=all">Transactions</a></span></div>
    {{/if}}
    {{# if transCount}}
        <div class="alert alert-info text-center text-dark shadow d-inline-block" role="alert" style="width: 50%;margin-left: 25%;"><span><strong>Success !&nbsp; {{transCount}} Bill for month : {{monthname}} Generated Successfully check in&nbsp;</strong><i class="fa fa-chevron-right"></i><strong>&nbsp;</strong><a class="alert-link text-black-50" href="/landlord-trans?fetch=all">Transactions</a></span></div>
    {{/if}}
    {{# if dropdown}}
        <small class="form-text text-center text-muted">Please try to generate Bills in a <strong>Serialized</strong> manner. Do <strong>not</strong> generate bills of upcoming month earlier.</small>
        <br>
        <div
        class="dropdown"><button class="btn btn-info dropdown-toggle shadow d-inline-block" data-toggle="dropdown" aria-expanded="false" id="month" type="submit" style="margin-left: 45.5%;">Select Month</button>
        <div class="dropdown-menu" role="menu">
            <a class="dropdown-item" role="presentation" href="/landlord-genBillPopulateTenant?month=1">January</a>
            <a class="dropdown-item" role="presentation" href="/landlord-genBillPopulateTenant?month=2">February</a>
            <a class="dropdown-item" role="presentation" href="/landlord-genBillPopulateTenant?month=3">March</a>
            <a class="dropdown-item" role="presentation" href="/landlord-genBillPopulateTenant?month=4">April</a>
            <a class="dropdown-item" role="presentation" href="/landlord-genBillPopulateTenant?month=5">May</a>
            <a class="dropdown-item" role="presentation" href="/landlord-genBillPopulateTenant?month=6">June</a>
            <a class="dropdown-item" role="presentation" href="/landlord-genBillPopulateTenant?month=7">July</a>
            <a class="dropdown-item" role="presentation" href="/landlord-genBillPopulateTenant?month=8">August</a>
            <a class="dropdown-item" role="presentation" href="/landlord-genBillPopulateTenant?month=9">September</a>
            <a class="dropdown-item" role="presentation" href="/landlord-genBillPopulateTenant?month=10">October</a>
            <a class="dropdown-item" role="presentation" href="/landlord-genBillPopulateTenant?month=11">November</a>
            <a class="dropdown-item" role="presentation" href="/landlord-genBillPopulateTenant?month=12">December</a>
        </div>
    </div>
        <hr>
    {{/if}}
    {{# if tenantDetails}}
        <p class="text-center" style="color: rgb(0,0,0);">Load last final reading as Initial  <input type="checkbox" onchange="loadlast()" data-toggle="tooltip" id="prevload" name="load" title="Load last reading" style="background-color: #e74242;border-style: none;" /></p>
        <div class="container text-center text-info border rounded-0 d-flex justify-content-center" style="width: 90%;"><small class="form-text text-center text-muted d-inline-block"><strong style="font-size: 20px;">Current Rent Metrices</strong></small>
            <div class="table-responsive table-borderless" style="width: 100%;">
                <table class="table table-bordered">
                    <thead>
                    <tr style="height: 25px;">
                        <th style="padding: 0px;height: 20px;">Water</th>
                        <th style="padding: 0px;height: 20px;">Electricity</th>
                        <th style="padding: 0px;height: 20px;">Base Rent</th>
                        <th style="padding: 0px;height: 20px;">Maintenence</th>
                        <th style="padding: 0px;height: 20px;">Security</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center" style="font-size: 18px;background-color: #98cdcd;border-width: 1px;border-top-style: solid;height: 28px;">
                        <td style="padding: 0px;">Rs {{land.water}}</td>
                        <td style="padding: 0px;">Rs {{land.electricity}} per unit</td>
                        <td style="padding: 0px;">Rs {{land.baseRent}}</td>
                        <td style="padding: 0px;">Rs {{land.maintenance}}</td>
                        <td style="padding: 0px;">Rs {{land.security}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <form method="post" action="/landlord-finalBill" id="reading">


            <div class="row" >
                <div class="col-lg-8 col-sm-6 " style="margin: auto">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Tenant ID</th>
                            <th scope="col">Tenant Name</th>
                            <th scope="col">Initial Meter Reading</th>
                            <th scope="col">Final Meter Reading</th>
                        </tr>
                        </thead>
                        <tbody>
                {{#each tenants}}
                        <tr>
                            <th scope="row">{{this.tenantID}}</th>
                            <td>{{this.fname}} {{this.lname}}</td>
                            <td><input class="form-control d-inline" type="number" style="width:200px ;margin-right: 1%;" name="initial{{this.tenantID}}" min="0" placeholder="Last Meter" required=""></td>
                            <td><input class="form-control d-inline" type="number" style="width: 200px;" name="current{{this.tenantID}}" min="0" placeholder="Current Meter" required=""></td>
                        </tr>
                {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>


            <button class="btn btn-success shadow d-inline-block" type="submit" style="margin-left: 46%;margin-top: 1%;">Generate Bills</button>
        </form>

    {{/if}}
    </div>
{{>footerL}}
