<!--<head>-->
<!--    &lt;!&ndash;Style for landing page&ndash;&gt;-->
<!--    <style>-->
<!--        .table-fixed thead {-->
<!--            width: 97%;-->
<!--        }-->
<!--        .container{-->
<!--            width: 600px;-->
<!--        }-->
<!--        .panel-heading{-->
<!--            height: 40px;-->
<!--            padding: 10px 10px;-->
<!--            font-size: 15px;}-->
<!--        .inputHeader{width:100%}-->
<!--        .table-fixed tbody {-->
<!--            height: 230px;-->
<!--            overflow-y: auto;-->
<!--            width: 100%;-->
<!--        }-->
<!--        .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {-->
<!--            display: block;-->
<!--        }-->
<!--        .table-fixed tbody td, .table-fixed thead > tr> th {-->
<!--            float: left;-->
<!--            border-bottom-width: 0;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->

<!--<body>-->
{{>navBarL}}
<h3 style="align-items: center;">LANDLORD LANDING PAGE DATA</h3>
<!--  <canvas id="chartjs-0" class="chartjs" style="position: relative;height:500px;width: 500px" ></canvas>-->
<!--    <script>-->
<!--        new Chart(document.getElementById("chartjs-0"),-->
<!--        {"type":"line","data":{"labels":["January","February","March","April","May","June","July"],"datasets":[{"label":"My First Dataset","data":[65,59,80,81,56,55,40],"fill":false,"borderColor":"rgb(75, 192, 192)","lineTension":0.1}]},"options":{}});-->
<!--    </script>-->
<!--  <canvas id="chartjs-1" class="chartjs" style="position: relative;height:500px;width: 500px" ></canvas>-->
<!--  <script>-->
<!--      new Chart(document.getElementById("chartjs-1"),-->
<!--      chartjs-1.canvas.parentNode.style.height = '128px';-->
<!--      chartjs-1.canvas.parentNode.style.width = '128px';        -->
<!--      {"type":"line","data":{"labels":["January","February","March","April","May","June","July"],"datasets":[{"label":"My First Dataset","data":[65,59,80,81,56,55,40],"fill":false,"borderColor":"rgb(75, 192, 192)","lineTension":0.1}]},"options":{}});-->
<!--  </script>-->
<div id="main">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Values fetched</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Name </td>
            <td>{{username}}</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Id </td>
            <td>{{userid}}</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Date </td>
            <td>{{date}}</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Recieved Payment </td>
            <td>
                <button type="button" class="btn btn-primary">
                    Recieved Payment <span class="badge badge-light">{{recpaycount}}</span>
                </button></td>
            <td><table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Tenant ID</th>
                    <th scope="col">Tenant Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                </tr>
                </thead>
                <tbody>
                {{#each recpay}}
                    <tr>
                        <td>{{this.tid}}</td>
                        <td>{{this.fname}}</td>
                        <td >{{this.paidON}}</td>
                        <td>{{this.amount}}</td>
                    </tr>
                {{/each}}

                </tbody>
            </table></td>
        </tr>

        <tr>
            <th scope="row">6</th>
            <td>Pending Payment Count </td>
            <td>
                <button type="button" class="btn btn-primary">
                    Pending Payment  <span class="badge badge-light">{{penpaycount}}</span>
                </button></td>
            <td><table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Tenant ID</th>
                    <th scope="col">Tenant Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                </tr>
                </thead>
                <tbody>
                {{#each pendpay}}
                    <tr>
                        <td>{{this.tid}}</td>
                        <td>{{this.fname}}</td>
                        <td >{{this.dateGenerated}}</td>
                        <td>{{this.amount}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table></td>
        </tr>

        <tr>
            <th scope="row">7</th>
            <td>Rent metrices </td>
            <td><table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Base Rent</th>
                    <th scope="col">{{baserent}}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Water</th>
                    <td>{{water}}</td>
                </tr>
                <tr>
                    <th scope="row">Electricity</th>
                    <td>{{electricity}}</td>
                </tr>
                <tr>
                    <th scope="row">Security</th>
                    <td>{{security}}</td>
                </tr>
                <tr>
                    <th scope="row">Maintenance</th>
                    <td>{{maintenance}}</td>
                </tr>
                </tbody>
            </table></td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>Total profit </td>
            <td>{{totalprofit}}</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>Tenant count </td>
            <td>{{tenantcount}}</td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td>User  approval count </td>
            <td>{{approvalcount}}</td>
            <td><table class="table table-striped">

                <tbody>
                {{#each aprov}}
                    <tr>
                        <td>{{this.fname}}</td>
                    </tr>
                {{/each}}

                </tbody>
            </table></td>
        </tr>
        </tbody>
    </table>
</div>
{{>footerL}}
<!--</body>-->