<link rel="stylesheet" href="Dash_css.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="new.js"></script>
{{>navBarL}}
<header class="jumbotron bg-secondary">
        <div class="container">
            <div class="row row-header"> 
                <div class="col-12 col-sm-6">
                    <h1 class="display-4">Renting Management System</h1>
                    <p class="lead">We take the Responsibility to Match each tenant with a Landlord!</p>
                </div>
                <div class="col-12 col-sm align-self-center">
                    <img src="Renting_Logo.png"height="200" width="200" >
                </div>
                <div class="col-12 col-sm align-self-center">
                    <a role="button" id="createTenant" class="btn btn-block nav-link btn-warning bg-dark" data-toggle="modal"
                    >Create Tenant</a>
                </div>
            </div>
        </div>
    </header>

<div class="container-fluid" style="width: 100%">
    <div class="row ">
        <div class="  col-lg-3 col-sm-6 col-xs-6 " style="margin-top: 2%">
            <div class="shadow" style="background-color: rgba(166,129,151,0.5);width: 100%;height: 109px;border-radius: 14px;margin: 0px;margin-left: 0px;margin-top: 0px;"><span></span><i class="fa fa-users" style="font-size: 2rem;color: rgb(137,4,92);background-color: rgba(223,149,185,0.66);border-radius: 27px;border-width: 0px;margin: 0px;width: 54px;height: 54px;padding: 8px;margin-top: 24px;margin-left: 16px;"></i>
                <div class="float-right" style="height: 100%;background-color: rgba(255,255,255,0);width: 60%;font-size: 1rem;"><strong style="font-size: 2rem;margin-top: 0px;margin-right: 0px;">89</strong>
                    <p style="font-size: 1.3em;">Total Verified Tenants</p>
                </div>
            </div>
        </div>
        <div class=" col-lg-3 col-sm-6 col-xs-6 " style="margin-top: 2%">
            <div class="shadow" style="background-color: rgba(163,194,173,0.5);width: 100%;height: 109px;border-radius: 14px;margin-left: 0px;margin-top: 0px;"><span></span><i class="fa fa-arrow-circle-o-down" style="font-size: 37px;color: rgb(34,119,37);background-color: rgba(118,206,111,0.66);border-radius: 27px;border-width: 0px;margin: 0px;width: 54px;height: 54px;padding: 8px;margin-top: 24px;margin-left: 16px;padding-left: 11px;padding-top: 9px;"></i>
                <div class="float-right" style="height: 100%;background-color: rgba(255,255,255,0);width: 60%;"><strong style="font-size: 31px;margin-top: 0px;margin-right: 0px;">56</strong>
                    <p style="font-size: 1.3em;">Total Recieved Payments</p>
                </div>
            </div>
        </div>
        <div class=" col-lg-3 col-sm-6 col-xs-6 " style="margin-top: 2%">
            <div class="shadow" style="background-color: rgba(200,183,139,0.5);width: 100%;height: 109px;border-radius: 14px;margin-left: 0px;margin-top: 0px;"><span></span><i class="fa fa-rupee" style="font-size: 37px;color: rgb(207,14,118);background-color: rgba(223,135,135,0.66);border-radius: 27px;border-width: 0px;margin: 0px;width: 54px;height: 54px;padding: 8px;margin-top: 24px;margin-left: 16px;padding-left: 19px;padding-top: 9px;"></i>
                <div class="float-right" style="height: 100%;background-color: rgba(255,255,255,0);width: 60%;"><strong style="font-size: 31px;margin-top: 0px;margin-right: 0px;">569462</strong>
                    <p style="font-size: 1.3em;">Total Revenue Generated</p>
                </div>
            </div>
        </div>
        <div class=" col-lg-3 col-sm-6 col-xs-6 " style="margin-top: 2%">
            <div class="shadow" style="background-color: rgba(248,159,159,0.5);width: 100%;height: 109px;border-radius: 14px;margin-left: 0px;margin-top: 0px;"><span></span><i class="fa fa-info-circle" style="font-size: 37px;color: rgb(164,13,13);background-color: rgba(206,111,122,0.66);border-radius: 27px;border-width: 0px;margin: 0px;width: 54px;height: 54px;padding: 8px;margin-top: 24px;margin-left: 16px;padding-left: 11px;padding-top: 9px;"></i>
                <div class="float-right" style="height: 100%;background-color: rgba(255,255,255,0);width: 60%;"><strong style="font-size: 31px;margin-top: 0px;margin-right: 0px;">26</strong>
                    <p style="font-size: 1.3em;">Total Pending Payments</p></div>
            </div>
        </div>
</div>

<div class="container " style="width: 100vw;">
    <div class="row row-content align-items-center">
        <div class="col-lg-4 col-sm-12 order-sm-last col-md-4">
            <div class="chart-container">
                <canvas id="myChart" height="300" width="400" style="display: block; height: 280px; width: 320px;"></canvas>
            </div><script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['BaseRent', 'Water', 'Electricity', 'Security', 'Maintenance'],
                    datasets: [{
                        data: [{{res.baseRent}}, {{res.water}}, {{res.electricity}}, {{res.security}}, {{res.maintenance}}],
                        backgroundColor: [
                            '#EA4335',
                            '#3c7ef1',
                            '#FBBC05',
                            '#34A853',
                            'rgb(130,65,217)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgb(54,162,235)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    maintainAspectRatio:false,
                    responsive:true,
                    legend:{
                        display:true,
                        position:'left',
                        labels:{
                            fontSize:15,
                        },
                    },
                    title:{
                        display:true,
                        text:"Metric wise revenue",
                        fontSize:20
                    },
                }
            });
        </script>
        </div>


        
        <div class="col-lg-8 col-sm-12 order-sm-last col-md-8">
            <div class="chart-container" >
                <canvas id="myChart2" height="300" width="400" style="display: block; height: 280px; width: 320px;"></canvas>
            </div><script>
            var ctx = document.getElementById('myChart2').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [
                        {{#forEach ans}}
                            "{{this.month}}",
                        {{/forEach}}
                    ],
                    datasets: [{
                        label: 'Month Revenue',
                        data:  [
                            {{#forEach ans}}
                                "{{this.profit}}",
                            {{/forEach}}
                        ],
                        backgroundColor:"rgba(17,138,178,0.55)",
                        pointBackgroundColor:"#ee6c4d",
                        borderColor:"rgba(14,109,177,0.95)"
                    }]
                },
                options: {
                    maintainAspectRatio:true,
                    legend:{
                        display:true,
                        position:'bottom',
                        labels:{
                            fontSize:25,
                        },
                    },
                    title:{
                        display:true,
                        text:"Month wise revenue",
                        fontSize:20
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                callback: function(value, index, values) {
                                    return '₹' + value;
                                }
                            }
                        }]
                    },

                }
            });
        </script>
        </div>
    </div>

    <div class="row row-content align-items-center">
        <div class="col-sm-4 col-md-3">
            <h3 class="display-4">Rent Metric</h3>
        </div>
        <div class="col-sm col-md ">
            <!--  <div class="table-wrapper-scroll-y my-custom-scrollbar"> -->
            <table class="table table-bordered table-striped mb-0 shadow">
                <thead class="bg-dark" style="color: floralwhite;">
                <tr>
                    <th scope="col">Sl.No</th>
                    <th scope="col">Metric Name</th>
                    <th scope="col">Rent (In Rs.)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1.</th>
                    <td class="lead">Base Rent</td>
                    <td class="lead">Rs {{baserent}}</td>
                </tr>
                <tr>
                    <th scope="row">2.</th>
                    <td class="lead">Water</td>
                    <td class="lead">Rs {{water}}</td>
                </tr>
                <tr>
                    <th scope="row">3.</th>
                    <td class="lead">Electricity</td>
                    <td class="lead">Rs {{electricity}} (per Unit)</td>
                </tr>
                <tr>
                    <th scope="row">4.</th>
                    <td class="lead">Security</td>
                    <td class="lead">Rs {{security}}</td>
                </tr>
                <tr>
                    <th scope="row">5.</th>
                    <td class="lead">Maintainance</td>
                    <td class="lead">Rs {{maintenance}}</td>
                </tr>
                </tbody>
            </table>
            <!-- </div> -->
            <center> <a name="SetNew" id="SetNew" class="btn btn-primary bg-dark" href="#" role="button">Set New</a> </center>
        </div>
    </div>

    <div class="container">
        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-4 order-sm-last col-md-3">
                <h3 class="display-4">User Approvals</h3>
            </div>
            <div class="col col-sm order-sm-first col-md">
                <h4><span class="badge badge-dark lead">Pending Approvals </span> <span class="badge badge-dark lead">{{approvalcount}}</span></h4>
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-bordered table-striped mb-0 shadow">
                        <thead class="bg-dark" style="color: floralwhite;">
                        <tr>
                            <th scope="col">Tenant ID</th>
                            <th scope="col">Tenant Name</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#unless aprov}}
                            <tr>
                                <td colspan="3" align="center">No pending approval</td>
                            </tr>
                        {{/unless}}
                        {{#each aprov}}
                            <tr>
                                <th scope="row">{{this.tenantID}}</th>
                                <td class="lead">{{this.fname}}</td>
                                <td align="center">
                                    <button type="button" value={{this.tenantID}} onclick="approve(this)" class="btn-primary-Action bg-dark" style="width: auto">Approve</button>
                                    <button type="button" value={{this.tenantID}} onclick="cancleapprove(this)" class="btn-primary-Action bg-danger" style="width: auto">Discard</button>
                                </td>
                            </tr>
                        {{/each}}

                        </tbody>
                    </table>
                </div>
                {{#if aprov}}
                <center> <a name="ApproveAll" id="ApproveAll" class="btn btn-primary bg-dark" href="#" role="button">Approve All</a> <br>
                </center>
                {{/if}}
            </div>
        </div>


        {{>footerL}}