<link rel="stylesheet" href="Dash_css.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="new.js"></script>
{{>navBarL}}
<header class="jumbotron bg-secondary">
     <div class="container-fluid"d >
        <div class="row row-heaer">
            <div class="col-12 col-sm-6">
                <h1 class="display-4">Renting Management System</h1>
                <p class="lead">We take the Responsibility to Match each tenant with a Landlord!</p>
            </div>
            <div class="col-12 col-sm align-self-center">
                <img src="logof.png"height="100" width="250" >
            </div>
            <div class="col-12 col-sm align-self-center">
                <a role="button" id="createTenant" href="/landlord-createTenant" class="btn btn-block nav-link btn-warning bg-dark" style="color: #FFFFFF" >Create Tenant</a>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid shadow" >
    <div class="row row-content align-items-center ">
        <div class="col-xl-2 col-lg-4 col-sm-12 order-sm-last col-md-4 ">
            <div class="shadow" style="margin-top: 5%;background-color: rgba(248,159,159,0.5);width: 100%;height: 109px;border-radius: 14px;"><span></span><i class="fa fa-info-circle" style="font-size: 37px;color: rgb(164,13,13);background-color: rgba(206,111,122,0.66);border-radius: 27px;border-width: 0px;margin: 0px;width: 54px;height: 54px;padding: 8px;margin-top: 24px;margin-left: 16px;padding-left: 11px;padding-top: 9px;"></i>
                <div class="float-right" style="height: 100%;background-color: rgba(255,255,255,0);width: 60%;"><strong style="font-size: 2rem;">{{penpaycount}}</strong>
                    <p style="font-size: 1.1em;">Total Pending Payments</p></div>
            </div>
            <div class="shadow" style="margin-top: 15%;background-color: rgba(241,135,237,0.55);width: 100%;height: 109px;border-radius: 14px;"><span></span><i class="fa fa-rupee" style="font-size: 37px;color: rgb(207,14,118);background-color: rgba(224,119,236,0.66);border-radius: 27px;border-width: 0px;margin: 0px;width: 54px;height: 54px;padding: 8px;margin-top: 24px;margin-left: 16px;padding-left: 19px;padding-top: 9px;"></i>
                <div class="float-right" style="height: 100%;background-color: rgba(255,255,255,0);width: 60%;"><strong style="font-size: 2rem;">{{res.amount}}</strong>
                    <p style="font-size: 1.1rem;">Total Revenue Generated</p>
                </div>
            </div>
        </div>

            <div class="col-xl-3 col-lg-8 col-sm-12 order-sm-last col-md-8 ">
                <div class="chart-container">
                    <canvas id="myChart" height="350" width="400" style="display: block; height: 100%; width: 100%;"></canvas>
                </div>
            <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['BaseRent', 'Water', 'Electricity', 'Security', 'Maintenance'],
                    datasets: [{
                        data: [{{res.baseRent}}, {{res.water}}, {{res.electricity}}, {{res.security}}, {{res.maintenance}}],
                        backgroundColor: [
                            '#EA4335',
                            '#3c7ef1',
                            '#FBBC05',
                            '#34A853',
                            'rgb(130,65,217)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgb(54,162,235)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    maintainAspectRatio:true,
                    responsive:false,
                    legend:{
                        display:true,
                        position:'left',
                        labels:{
                            fontSize:15,
                        },
                    },
                    title:{
                        display:true,
                        text:"Metric wise revenue",
                        fontSize:20
                    },
                }
            });
        </script>
        </div>
        <div class="col-xl-5 col-lg-8 col-sm-12 order-sm-last col-md-8">
            <div class="chart-container" >
                <canvas id="myChart2" height="250" width="400" style="display: block; height: 100%; width: 100%;"></canvas>
            </div>
            <script>
            var ctx = document.getElementById('myChart2').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [
                        {{#forEach ans}}
                            "{{this.month}}",
                        {{/forEach}}
                    ],
                    datasets: [{
                        label: 'Month Revenue',
                        data:  [
                            {{#forEach ans}}
                                "{{this.profit}}",
                            {{/forEach}}
                        ],
                        backgroundColor:"rgba(17,138,178,0.55)",
                        pointBackgroundColor:"#ee6c4d",
                        borderColor:"rgba(14,109,177,0.95)"
                    }]
                },
                options: {
                    responsive:true,
                    maintainAspectRatio:true,
                    legend:{
                        display:true,
                        position:'bottom',
                        labels:{
                            fontSize:25,
                        },
                    },
                    title:{
                        display:true,
                        text:"Month wise revenue",
                        fontSize:20
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                callback: function(value, index, values) {
                                    return '₹' + value;
                                }
                            }
                        }]
                    },

                }
            });
        </script>
        </div>


        <div class="col-xl-2 col-lg-4 col-sm-12 order-sm-last col-md-4 ">
            <div class="shadow" style="margin-top: 5%;background-color: rgba(163,194,173,0.5);width: 100%;height: 109px;border-radius: 14px;"><span></span><i class="fa fa-arrow-circle-o-down" style="font-size: 37px;color: rgb(34,119,37);background-color: rgba(118,206,111,0.66);border-radius: 27px;border-width: 0px;margin: 0px;width: 54px;height: 54px;padding: 8px;margin-top: 24px;margin-left: 16px;padding-left: 11px;padding-top: 9px;"></i>
                <div class="float-right" style="height: 100%;background-color: rgba(255,255,255,0);width: 60%;"><strong style="font-size: 31px;">{{recpaycount}}</strong>
                    <p style="font-size: 1.1em;">Total Recieved Payments</p>
                </div>
            </div>
            <div class="shadow" style="margin-top: 15%;background-color: rgba(245,143,207,0.5);width: 100%;height: 109px;border-radius: 14px;"><span></span><i class="fa fa-users" style="font-size: 2rem;color: rgb(137,4,92);background-color: rgba(223,149,185,0.66);border-radius: 27px;border-width: 0px;margin: 0px;width: 54px;height: 54px;padding: 8px;margin-top: 24px;margin-left: 16px;"></i>
                <div class="float-right" style="height: 100%;background-color: rgba(255,255,255,0);width: 60%;font-size: 1rem;"><strong style="font-size: 2rem;">{{tenantcount}}</strong>
                    <p style="font-size: 1.1em;">Total Verified Tenants</p>
                </div>
        </div>
        </div>
</div>
</div>

<div class="container-fluid shadow" >
    <div class="row row-content align-items-center ">
        <div class="col-xl-3 col-lg-4 col-sm-12 order-sm-last col-md-4 ">
            <div class="shadow" style="height: 54vh;background-color: #ffffff;width: 90%;border-radius: 7px;padding-left: 13px;padding-right: 2px;padding-top: 6px;;margin-top: 5%">
                <p class="d-inline" style="margin-left: 0px;width: 172px;">Recieved Payments</p><span class="float-right" style="margin-right: 12px;">{{rec}}%</span>
                <div class="progress border rounded" style="height: 7px;margin-top: -1px;width: 94%;color: rgba(255,255,255,0);background-color: rgba(255,255,255,0);font-size: 12px;border-style: none;">
                    <div class="progress-bar bg-success progress-bar-animated" aria-valuenow="{{rec}}" aria-valuemin="0" aria-valuemax="100" style="width: {{rec}}%;"></div>
                </div>
                <div class="table-responsive table-borderless" style="height: 86%;background-color: rgba(244,244,244,0);width: 100%;padding-right: 12px;">
                    <table class="table table-bordered table-hover">
                        <tbody>
                        {{#each recpay}}
                        <tr style="height: 12px;font-size: 16px;">
                            <td style="padding: 0px;height: 18px;width: 20%;">TID {{this.tid}}</td>
                            {{#each this.NameMatch}}
                            <td style="padding: 0px;height: 17px;width: 40%;">{{this.fname}} </td>{{/each}}
                            <td style="padding: 0px;height: 17px;"><i class="fa fa-rupee" style="color: rgb(25,119,187);border-color: rgb(13,67,171);margin-left: 0px;"></i> {{this.amount}}  <i class="fa fa-check-square-o float-right" style="color: rgb(43,116,31);margin-top: 5px;"></i></td>
                        </tr>
                        {{/each}}
                        {{#unless recpay}}
                            <tr style="height: 12px;font-size: 16px;">
                                <td colspan="3" align="center">No recieved Transactions</td>
                            </tr>
                        {{/unless}}
                        </tbody>
                    </table>
                </div><small class="form-text text-muted" style="margin-top: 0px;">*Recieved payment month: {{maxmo}} billing</small></div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-12 order-sm-last col-md-4 ">
            <div class="shadow" style="height: 54vh;background-color: #ffffff;width: 90%;border-radius: 7px;padding-left: 13px;padding-right: 2px;padding-top: 6px;margin-top: 5%">
                <p class="d-inline" style="margin-left: 0px;width: 172px;font-size: 18px;">Pending Payments</p><span class="float-right" style="margin-right: 12px;">{{pen}}%</span>
                <div class="progress border rounded" style="height: 7px;margin-top: -1px;width: 94%;color: rgba(255,255,255,0);background-color: rgba(255,255,255,0);font-size: 12px;border-style: none;">
                    <div class="progress-bar bg-danger progress-bar-animated" aria-valuenow="{{pen}}" aria-valuemin="0" aria-valuemax="100" style="width: {{pen}}%;"><span class="sr-only"></span></div>
                </div>
                <div class="table-responsive table-borderless" style="height: 86%;background-color: rgba(244,244,244,0);width: 100%;padding-right: 11px;font-size: 21px;">
                    <table class="table table-bordered table-hover">
                        <tbody>
                        {{#each pendpay}}
                        <tr style="height: 12px;font-size: 16px;">
                            <td style="padding: 0px;height: 12px;width: 24%;">TID {{this.tid}}</td>
                            {{#each this.NameMatch}}
                            <td style="padding: 0px;height: 12px;width: 40%;">{{this.fname}} </td>
                            {{/each}}
                            <td style="padding: 0px;height: 12px;"><i class="fa fa-rupee" style="color: rgb(25,119,187);border-color: rgb(13,67,171);margin-left: 0px;"></i> {{this.amount}} <i class="fa fa-question-circle float-right" style="color: rgb(208,37,37);padding-top: 2px;margin-top: 2px;"></i></td>
                        </tr>
                        {{/each}}
                        {{#unless pendpay}}
                            <tr style="height: 12px;font-size: 16px;">
                                <td colspan="3" align="center">No pending Transactions</td>
                            </tr>
                        {{/unless}}
                        </tbody>
                    </table>
                </div>
                <small class="form-text text-muted" style="margin-top: -30px;"> <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                                Select Month
                            </button>
                    <div class="dropdown-menu" aria-labelledby="triggerId">
                        <a class="dropdown-item" href="#">Jan</a>
                        <a class="dropdown-item" href="#">Feb</a>
                        <a class="dropdown-item" href="#">Mar</a>
                        <a class="dropdown-item" href="#">Apr</a>
                        <a class="dropdown-item" href="#">May</a>
                        <a class="dropdown-item" href="#">Jun</a>
                        <a class="dropdown-item" href="#">Jul</a>
                        <a class="dropdown-item" href="#">Aug</a>
                        <a class="dropdown-item" href="#">Sept</a>
                        <a class="dropdown-item" href="#">Oct</a>
                        <a class="dropdown-item" href="#">Nov</a>
                        <a class="dropdown-item" href="#">Dec</a>
                    </div>
                </div> </small></div>
        </div>

        <div class="col-xl-4 col-lg-8 col-sm-12 order-sm-last col-md-8">
            <div class="chart-container" >
                <canvas id="myChart3" height="300" width="400" style="display: block; height: 100%; width: 100%;"></canvas>
            </div>
            <script>
                var ctx = document.getElementById('myChart3').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: [
                            {{#forEach monthunits}}
                                "{{this.month}}",
                            {{/forEach}}
                        ],
                        datasets: [{
                            label: 'Month Electricity Unit',
                            data:  [
                                {{#forEach monthunits}}
                                    "{{this.elec}}",
                                {{/forEach}}
                            ],
                            backgroundColor:"rgba(231,88,117,0.55)",
                            pointBackgroundColor:"#52db09",
                            borderColor:"rgba(165,11,11,0.97)"
                        }]
                    },
                    options: {
                        responsive:true,
                        maintainAspectRatio:true,
                        legend:{
                            display:true,
                            position:'bottom',
                            labels:{
                                fontSize:15,
                            },
                        },
                        title:{
                            display:true,
                            text:"Tenants Electricity Unit Consumption",
                            fontSize:20
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    callback: function(value, index, values) {
                                        return  value+' kwh';
                                    }
                                }
                            }]
                        },

                    }
                });
            </script>
        </div>

        <div class="col-xl-2 col-lg-4 col-sm-12 order-sm-last col-md-4 ">
        <div class="shadow" style="background-color: rgba(154,170,227,0.5);width: 100%;height: 109px;border-radius: 14px;"><span></span><i class="fa fa-flash" style="font-size: 37px;color: rgb(7,4,137);background-color: rgba(155,149,223,0.66);border-radius: 27px;border-width: 0px;margin: 0px;width: 54px;height: 54px;padding: 1px;margin-top: 24px;margin-left: 16px;padding-bottom: 0px;padding-left: 19px;padding-top: 10px;"></i>
            <div class="float-right" style="height: 100%;background-color: rgba(255,255,255,0);width: 60%;"><strong style="font-size: 31px;">{{totalunit}}</strong>
                <p>Total Electricity Unit consumed</p>
            </div>
        </div>
        <div class="shadow" style="background-color: rgba(205,166,138,0.5);width: 100%;height: 109px;border-radius: 14px;margin-top: 10%"><span></span><i class="fa fa-openid" style="font-size: 37px;color: rgb(137,76,4);background-color: rgba(223,153,149,0.66);border-radius: 27px;border-width: 0px;margin: 0px;width: 54px;height: 54px;padding: 1px;margin-top: 27px;margin-left: 16px;padding-bottom: 0px;padding-left: 10px;padding-top: 9px;"></i>
            <div class="float-right" style="height: 100%;background-color: rgba(255,255,255,0);width: 60%;"><strong style="font-size: 31px;margin-top: 0px;margin-right: 0px;">{{roomsa}}</strong>
                <p>Total Available Rooms</p>
            </div>
        </div>
        </div>

    </div>
</div>

<div class="container-fluid" style="width: 85%">
    <div class="row row-content align-items-center">
        <div class="col-sm-4 col-md-3">
            <h3 class="display-4">Rent Metric</h3>
        </div>
        <div class="col-sm col-md ">
            <!--  <div class="table-wrapper-scroll-y my-custom-scrollbar"> -->
            <table class="table table-bordered table-striped mb-0 shadow">
                <thead class="bg-dark" style="color: floralwhite;">
                <tr>
                    <th scope="col">Sl.No</th>
                    <th scope="col">Metric Name</th>
                    <th scope="col">Rent (In Rs.)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1.</th>
                    <td class="lead">Base Rent</td>
                    <td class="lead">Rs {{baserent}}</td>
                </tr>
                <tr>
                    <th scope="row">2.</th>
                    <td class="lead">Water</td>
                    <td class="lead">Rs {{water}}</td>
                </tr>
                <tr>
                    <th scope="row">3.</th>
                    <td class="lead">Electricity</td>
                    <td class="lead">Rs {{electricity}} (per Unit)</td>
                </tr>
                <tr>
                    <th scope="row">4.</th>
                    <td class="lead">Security</td>
                    <td class="lead">Rs {{security}}</td>
                </tr>
                <tr>
                    <th scope="row">5.</th>
                    <td class="lead">Maintainance</td>
                    <td class="lead">Rs {{maintenance}}</td>
                </tr>
                </tbody>
            </table>
            <!-- </div> -->
            <center> <a name="SetNew" id="SetNew" class="btn btn-primary bg-dark" href="#" role="button">Set New</a> </center>
        </div>
    </div>

    <div class="container">
        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-4 order-sm-last col-md-3">
                <h3 class="display-4">User Approvals</h3>
            </div>
            <div class="col col-sm order-sm-first col-md">
                <h4><span class="badge badge-dark lead">Pending Approvals </span> <span class="badge badge-dark lead">{{approvalcount}}</span></h4>
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-bordered table-striped mb-0 shadow">
                        <thead class="bg-dark" style="color: floralwhite;">
                        <tr>
                            <th scope="col">Tenant ID</th>
                            <th scope="col">Tenant Name</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#unless aprov}}
                            <tr>
                                <td colspan="3" align="center">No pending approval</td>
                            </tr>
                        {{/unless}}
                        {{#each aprov}}
                            <tr>
                                <th scope="row">{{this.tenantID}}</th>
                                <td class="lead">{{this.fname}}</td>
                                <td align="center">
                                    <button type="button" value={{this.tenantID}} onclick="approve(this)" class="btn-primary-Action bg-dark" style="width: auto">Approve</button>
                                    <button type="button" value={{this.tenantID}} onclick="cancleapprove(this)" class="btn-primary-Action bg-danger" style="width: auto">Discard</button>
                                </td>
                            </tr>
                        {{/each}}

                        </tbody>
                    </table>
                </div>
                {{#if aprov}}
                <center> <a name="ApproveAll" id="ApproveAll" class="btn btn-primary bg-dark" href="#" role="button">Approve All</a> <br>
                </center>
                {{/if}}
            </div>
        </div>
    </div>


        {{>footerL}}