<!DOCTYPE html>
<html>
    <head>

      
        <title>TEST lander page</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<style>
     .table-fixed thead {
  width: 97%;
}
.container{
    width: 600px;
}
.panel-heading{
    height: 40px;
    padding: 10px 10px;
    font-size: 15px;}
.inputHeader{width:100%}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
</style>
    </head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/generatebills">Generate Bill</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/createuser">Create User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Show Transaction</a>
    </li>
      <li class="nav-item">
          <a class="nav-link" href="/landlord-logout">Logout</a>
      </li>
  </ul>
</nav>
    <h3 style="align-items: center;">LANDLORD LANDING PAGE DATA</h3>
<div id="main">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Values fetched</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Name </td>
            <td>{{username}}</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Id </td>
            <td>{{userid}}</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Date </td>
            <td>{{date}}</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Recieved Payment </td>
            <td>
            <button type="button" class="btn btn-primary">
            Recieved Payment <span class="badge badge-light">{{recpaycount}}</span>
            </button></td>
            <td><table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Tenant ID</th>
                    <th scope="col">Tenant Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each recpay}}
                  <tr>
                    <td>{{this.tid}}</td>
                    <td>{{this.fname}}</td>
                    <td>{{this.paidON}}</td>
                    <td>{{this.amount}}</td>
                  </tr>
                  {{/each}}
                
                </tbody>
              </table></td>
          </tr>

          <tr>
            <th scope="row">6</th>
            <td>Pending Payment Count </td>
            <td>
            <button type="button" class="btn btn-primary">
            Pending Payment  <span class="badge badge-light">{{penpaycount}}</span>
            </button></td>
            <td><table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Tenant ID</th>
                    <th scope="col">Tenant Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each pendpay}}
                  <tr>
                    <td>{{this.tid}}</td>
                    <td>{{this.fname}}</td>
                    <td>{{this.dateGenerated}}</td>
                    <td>{{this.amount}}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table></td>
          </tr>

          <tr>
            <th scope="row">7</th>
            <td>Rent metrices </td>
            <td><table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Base Rent</th>
                    <th scope="col">{{baserent}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Water</th>
                    <td>{{water}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Electricity</th>
                    <td>{{electricity}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Security</th>
                    <td>{{security}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Maintenance</th>
                    <td>{{maintenance}}</td>
                  </tr>
                </tbody>
              </table></td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Total profit </td>
            <td>{{totalprofit}}</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Tenant count </td>
            <td>{{tenantcount}}</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>User  approval count </td>
            <td>{{approvalcount}}</td>
            <td><table class="table table-striped">
                
                <tbody>
                  {{#each aprov}}
                    <tr>
                    <td>{{this.fname}}</td>
                  </tr>
                  {{/each}}
        
                </tbody>
              </table></td>
          </tr>
        </tbody>
      </table>
</div>
</body>
</html> 