<!--<!DOCTYPE html>-->
<!--<html>-->

<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">-->
<!--    <title>Notifications</title>-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700">-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <link rel="stylesheet" href="styles.min.css">-->
<!--</head>-->

<!--<body style="background-color: #f3f7f7;margin-top: 74px;">-->
<!--<nav class="navbar navbar-dark navbar-expand-md fixed-top border-info text-center border rounded-0 shadow-sm visible" data-toggle="tooltip" data-bs-tooltip="" style="background-color: #39424E;height: 60px;padding: 12px;color: rgb(255,255,255);">-->
<!--    <div class="container-fluid"><a class="navbar-brand" href="/landlord-landing" style="color: rgba(247,247,247,0.9);font-size: 29px;font-family: 'Archivo Black', sans-serif;">Renting System</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>-->
<!--        <div-->
<!--                class="collapse navbar-collapse" id="navcol-1" style="color: #f3f7f7;margin-top: 3px;">-->
<!--            <ul class="nav navbar-nav" style="font-size: 24px;">-->
<!--                <li class="nav-item  " role="presentation"style="background-color: #39424E;"><a class="nav-link " href="/landlord-trans?fetch=all" style="color: rgb(255,255,255);font-family: 'Alegreya Sans', sans-serif;font-size: 18px;padding: 0px;margin: 6px;margin-right: 15px;margin-top: 9px;">TRANSACTIONS</a></li>-->
<!--                <li class="nav-item" role="presentation"style="background-color: #39424E;"><a class="nav-link" href="/landlord-createTenant" style="color: rgb(249,247,247);font-family: 'Alegreya Sans', sans-serif;font-size: 18px;margin-right: 15px;filter: blur(0px);">CREATE TENANT</a></li>-->
<!--                <li class="nav-item" role="presentation"style="background-color: #39424E;"><a class="nav-link" href="/landlord-genBill" style="color: rgb(254,254,254);font-size: 18px;font-family: 'Alegreya Sans', sans-serif;margin-right: 15px;">BILL GENERATE</a></li>-->
<!--                <li class="nav-item" role="presentation"style="background-color: #39424E;"><a class="nav-link" href="/landlord-tenant" style="color: rgb(255,255,255);font-size: 18px;font-family: 'Alegreya Sans', sans-serif;margin-right: 15px;">TENANTS</a></li>-->
<!--                <li class="nav-item border" role="presentation"style="background-color: #39424E;"><a class="nav-link" href="/landlord-notification?type=rec" style="color: rgb(255,255,255);margin-right: 15px;font-size: 18px;">NOTIFICATIONS</a></li>-->
<!--                <li class="nav-item" role="presentation"style="background-color: #39424E;"><a class="nav-link" href="/landlord-profile" style="color: rgb(255,255,255);font-size: 15px;font-family: 'Archivo Black', sans-serif;"></a></li>-->
<!--                <li class="nav-item" role="presentation"style="background-color: #39424E;"><a class="nav-link" href="/landlord-profile" style="font-size: 18px;font-family: 'Alegreya Sans', sans-serif;">Welcome, Tarun rana&nbsp; &nbsp; &nbsp; ID: {{land}}</a></li>-->
<!--            </ul><a class="btn text-white border-white ml-auto" role="button" href="/landlord-profile" style="background-color: #39424e;margin-right: 38px;font-size: 23px;font-family: 'Alegreya Sans', sans-serif;padding: 4px;padding-top: 1px;padding-right: 17px;padding-bottom: 1px;padding-left: 17px;">Profile</a>-->
<!--            <a class="btn text-white border-white" role="button" href="/landlord-logout" style="background-color: #39424e;font-size: 23px;font-family: 'Alegreya Sans', sans-serif;filter: blur(0px) grayscale(0%);padding: 0px;padding-right: 17px;padding-top: 1px;padding-left: 17px;padding-bottom: 1px;">Logout</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->
{{>navBarL}}
<h1 class="d-flex flex-row justify-content-center align-items-center align-self-center flex-wrap mx-auto" style="width: 50%;background-repeat: no-repeat;background-color: #FFFFFF;font-size: 20px;margin-left: 10%;margin-top: 1%;margin-bottom: 1%;">Dashbord <i class="fa fa-chevron-right"></i>
     Notifications<a class="btn btn-info text-center d-flex float-right" role="button" style="width: 189px;border-style: none;border-radius: 15px;border-top-right-radius: -35px;border-top-left-radius: 14px;border-bottom-right-radius: 14px;border-bottom-left-radius: 14px;margin-left: 2%;margin-bottom: 1%;"href="/landlord-send">Generate Notification</a></h1>
<div class="container" style="width: 30%;">
    <div class="btn-group-vertical d-inline float-none" role="group" id="selection" style="margin: 0;margin-top: 0;height: 31px;width: 120px;padding: 0px;font-size: 21px;font-family: 'Alegreya Sans', sans-serif;color: rgb(1,1,1);margin-right: 0px;margin-left: 0;"><a class="btn btn-primary bg-light border rounded-0 border-white shadow" role="button" style="background-color: #FFFFFF;color: rgb(0,0,0);font-size: 23px;font-family: 'Alegreya Sans', sans-serif;padding: 0px;height: 40px;" href="/landlord-notification?type=rec">Recieved Notifications</a>
        <a class="btn btn-primary border rounded-0 border-white shadow" role="button" style="padding: 1px;background-color: #FFFFFF;color: rgb(1,1,1);font-size: 23px;height: 40px;margin-bottom: 3%;" href="/landlord-notification?type=sent">Sent Notifications</a>
    </div>
</div>
{{#each notif}}
    <div class="container-fluid d-flex" style="width: 80vw;margin-top: 1px;margin-bottom: -1px;">
        <div class="table-responsive" style="border-width: 1px; background-color:#FFFFFF; border-bottom-style: solid;border-bottom-color: rgb(195,196,197);max-height: auto;height: auto;">
            <table class="table">
                <tbody>
                <tr style="width: 100hw;height: 174px;">
                    <td style="width: 70%;padding: 0px;height: auto;">
                        <p style="width: 100%;height: 100%;margin-bottom: 1px;"><br/>{{this.message}}.</p>
                    </td>
                    <td style="border-style: none;border-color: rgba(113,114,115,0.93);border-top-style: solid;border-top-color: rgb(222,226,230);border-left: 1px solid rgb(203,226,230) ;">
                        <p>MESSAGE ID: {{this.requestID}}</p>
                        {{# if this.fromLandlord}}
                        <p>POSTED BY: {{this.fromLandlord}}</p>
                        {{/if}}

                        {{# if this.toLandlord}}
                            <p>SENT FORM: {{this.toLandlord}}</p>
                        {{/if}}

                        {{# if this.fromTenant}}
                            <p>RECIEVED FORM: {{this.fromTenant}}</p>
                        {{/if}}

                        {{# if this.toTenant}}
                            <p>SENT TO: {{this.toTenant}}</p>
                        {{/if}}
                        <p>SENT ON: {{replace (remove (moment this.dateGenerated) "+05:30") "T" " Time: "}}</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{{/each}}
{{>footerL}}

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>-->
<!--<script src="script.min.js"></script>-->
<!--</body>-->

<!--</html>-->