{{>navBarL}}
<h1 style="width: 50%;background-repeat: no-repeat;background-color: #ffffff;font-size: 20px;margin-left: 10%;margin-top: 1%;">Dashboard&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;Landlord Profile</h1>
<div class="container-fluid text-left shadow d-block float-left justify-content-center align-items-center align-content-center justify-content-xl-start align-items-xl-end"
     style="width: 30%;margin-left: 9%;height: 75vh;background-color: #ffffff;margin-top: 3px;padding-top: 24px;"><a href="/update-profile"><i class="fas fa-edit float-right" data-toggle="tooltip" data-bs-tooltip="" data-bs-hover-animate="flash" style="margin-left: 9px;color: rgb(6,92,171);font-size: 26px;" title="Update Info"></i></a><i class="fas fa-user d-flex justify-content-xl-center"
                                                                                                                                                                                                                                                                                                                                                    style="font-size: 111px;color: rgb(0,135,153);"></i>
    <p class="text-left d-block" data-toggle="tooltip" data-bs-tooltip="" style="height: 10%;width: 100%;font-size: 28px;font-family: 'Archivo Black', sans-serif;margin-bottom: -7px;margin-top: 26px;"
       title="Registered name">{{fname}} {{lname}}<i class="fas fa-check-circle" data-toggle="tooltip" data-bs-tooltip="" style="margin-left: 9px;color: rgb(85,157,13);font-size: 22px;" title="All details Verified"></i></p>
    <p class="text-left d-none" style="height: 10%;width: 100%;font-size: 28px;font-family: 'Archivo Black', sans-serif;margin-bottom: -7px;margin-top: 26px;">{{fname}} {{lname}}<i class="far fa-times-circle" data-toggle="tooltip" data-bs-tooltip="" style="margin-left: 9px;color: rgb(188,0,0);font-size: 22px;" title="Details incomplete, update info"></i></p>
    <p class="text-left d-block" style="width: 64%;height: 8%;margin-bottom: 0px;font-size: 20px;"><i class="far fa-id-badge" data-toggle="tooltip" data-bs-tooltip="" style="font-size: 27px;color: rgb(13,77,142);" title="Landlord ID"></i>&nbsp; &nbsp;Landlord ID:&nbsp;<strong data-toggle="tooltip" data-bs-tooltip="" style="font-size: 22px;"
                                                                                                                                                                                                                                                                                     title="Unique ID">{{id}}</strong></p>
    <p class="d-block" data-toggle="tooltip" data-bs-tooltip="" style="width: 32%;height: 7%;margin-bottom: 0px;font-size: 16px;" title="Mobile number">&nbsp;<i class="fas fa-phone-alt" style="font-size: 22px;margin: 0px;color: rgb(13,77,142);"></i>&nbsp; {{data.mobile}}</p>
    <p class="d-block" data-toggle="tooltip" data-bs-tooltip="" style="width: 69%;height: 7%;margin-bottom: 0px;" title="Email id">&nbsp;<i class="fas fa-mail-bulk" style="font-size: 21px;margin: -3px;color: rgb(13,77,142);"></i>&nbsp; &nbsp;{{data.email}}</p>
    <p class="d-block" data-toggle="tooltip" data-bs-tooltip="" style="width: 64%;height: 7%;margin-bottom: 0px;"
       title="Joined on">&nbsp;<i class="far fa-calendar-times" style="font-size: 23px;color: rgb(13,77,142);" title="Registered on"></i>&nbsp; &nbsp;{{replace (remove (moment date.createdON) "+05:30") "T" " Time: "}}</p><img class="d-block" src="RentingLogo.png" loading="lazy" width="400px" height="150px" alt="Company Logo" style="font-size: 11px;margin-left: 9px;margin-top: -8px;"></div>
<div class="container-fluid shadow d-inline-block float-sm-left justify-content-xl-center align-items-xl-end" style="width: 50%;height: 76vh;background-color: #ffffff;margin-left: 5%;">
    <p style="height: 20%;"><i class="fa fa-map-signs" data-toggle="tooltip" data-bs-tooltip="" style="font-size: 27px;margin: 14px;color: rgb(159,7,7);margin-right: -3px;" title="Your Address"></i>&nbsp; &nbsp; {{data.address}}</p>
    <hr>
    <div class="card float-right" style="width: 268px;color: rgb(43,72,102);height: 296px;">
        <div class="card-body" style="padding: 8px;width: 260px;">
            <h4 class="text-center card-title">More Features Enroute</h4><i class="fas fa-gifts d-flex justify-content-xl-center align-items-xl-center" data-toggle="tooltip" data-bs-tooltip="" style="color: rgb(184,41,58);font-size: 141px;" title="More Features will be introduced in coming future"></i></div>
    </div>
    <div class="card" style="width: 290px;color: rgb(43,72,102);height: 296px;">
        <div class="card-body" style="padding: 8px;width: 290px;">
            <h4 class="card-title">Current Rent Metrics</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr></tr>
                    </thead>
                    <tbody>
                    <tr style="height: 50px;padding: 16px;">
                        <td style="padding: 16px;">Base rent</td>
                        <td>Rs {{data.baseRent}}</td>
                    </tr>
                    <tr>
                        <td>Electricity</td>
                        <td>Rs {{data.electricity}} per unit</td>
                    </tr>
                    <tr>
                        <td>Water</td>
                        <td>Rs {{data.water}}</td>
                    </tr>
                    <tr>
                        <td>Maintenance</td>
                        <td>Rs {{data.maintenance}}</td>
                    </tr>
                    <tr>
                        <td>Security</td>
                        <td>Rs {{data.security}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
{{>footerL}}