<link rel="stylesheet" href="Dash_css.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{{>tenantNav}}
<header class="jumbotron bg-secondary ">
    <div class="container-fluid" >
        <div class="row row-heaer">
            <div class="col-lg-4 col-sm-12">
                <h1 class="display-4"><strong>Renting Management System</strong></h1>
                <p class="lead">We take the Responsibility to Match each tenant with a Landlord!</p>
            </div>
            <div class="d-none d-sm-block " >
                <img src="tenantcover.png" >
            </div>
        </div>
    </div>
</header>
<div class="container-fluid shadow">
     <div class="row row-content align-items-center ">
         <div class="col-xl-2 col-lg-4 col-sm-12 order-sm-last col-md-4 ">
            <div class="shadow" style="margin-top: 5%;background-color: rgba(248,159,159,0.5);width: 100%;height: 109px;border-radius: 14px;"><span></span><i class="fa fa-info-circle" style="font-size: 37px;color: rgb(164,13,13);background-color: rgba(206,111,122,0.66);border-radius: 27px;border-width: 0px;margin: 0px;width: 54px;height: 54px;padding: 8px;margin-top: 24px;margin-left: 16px;padding-left: 11px;padding-top: 9px;"></i>
                <div class="float-right" style="height: 100%;background-color: rgba(255,255,255,0);width: 60%;"><strong style="font-size: 2rem;">2500</strong>
                    <p style="font-size: 1.1em;">Total Pending Amount</p>
                </div>
            </div>
            <div class="shadow" style="margin-top: 15%;background-color: rgba(241,135,237,0.55);width: 100%;height: 109px;border-radius: 14px;"><span></span><i class="fa fa-rupee" style="font-size: 37px;color: rgb(207,14,118);background-color: rgba(224,119,236,0.66);border-radius: 27px;border-width: 0px;margin: 0px;width: 54px;height: 54px;padding: 8px;margin-top: 24px;margin-left: 16px;padding-left: 19px;padding-top: 9px;"></i>
                <div class="float-right" style="height: 100%;background-color: rgba(255,255,255,0);width: 60%;"><strong style="font-size: 2rem;">10000</strong>
                    <p style="font-size: 1.1rem;">Total Payed Amount</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-8 col-sm-12 order-sm-last col-md-8 ">
               <div class="chart-container">
                   <canvas id="myChart" height="350" width="400" style="display: block; height: 100%; width: 100%;"></canvas>
               </div>
           <script>
           var ctx = document.getElementById('myChart').getContext('2d');
           var myChart = new Chart(ctx, {
               type: 'doughnut',
               data: {
                   labels: ['BaseRent', 'Water', 'Electricity', 'Security', 'Maintenance'],
                   datasets: [{
                       data: [{{metricwise.baseRent}}, {{metricwise.water}}, {{metricwise.electricity}}, {{metricwise.security}}, {{metricwise.maintenance}}],
                       backgroundColor: [
                           '#EA4335',
                           '#3c7ef1',
                           '#FBBC05',
                           '#34A853',
                           'rgb(130,65,217)'
                       ],
                       borderColor: [
                           'rgba(255, 99, 132, 1)',
                           'rgb(54,162,235)',
                           'rgba(255, 206, 86, 1)',
                           'rgba(75, 192, 192, 1)',
                           'rgba(153, 102, 255, 1)',
                       ],
                       borderWidth: 1
                   }]
               },
               options: {
                   maintainAspectRatio:true,
                   responsive:false,
                   legend:{
                       display:true,
                       position:'left',
                       labels:{
                           fontSize:15,
                       },
                   },
                   title:{
                       display:true,
                       text:"                      Expenditure Chart",
                       fontSize:20
                   },
               }
           });
       </script>
       </div>
       <div class="col-xl-5 col-lg-8 col-sm-12 order-sm-last col-md-8">
           <div class="chart-container" >
               <canvas id="myChart2" height="250" width="400" style="display: block; height: 100%; width: 100%;"></canvas>
           </div>
           <script>
           var ctx = document.getElementById('myChart2').getContext('2d');
           var myChart = new Chart(ctx, {
               type: 'line',
               data: {
                   labels: [
                       {{#forEach monthSpend}}
                           "{{this.month}}",
                       {{/forEach}}
                   ],
                   datasets: [{
                       label: 'Month Expenditure',
                       data:  [
                           {{#forEach monthSpend}}
                               "{{this.profit}}",
                           {{/forEach}}
                       ],
                       backgroundColor:"rgba(17,138,178,0.55)",
                       pointBackgroundColor:"#ee6c4d",
                       borderColor:"rgba(14,109,177,0.95)"
                   }]
               },
               options: {
                   responsive:true,
                   maintainAspectRatio:true,
                   legend:{
                       display:true,
                       position:'bottom',
                       labels:{
                           fontSize:25,
                       },
                   },
                   title:{
                       display:true,
                       text:"Month Wise Bill Payed",
                       fontSize:20
                   },
                   scales: {
                       yAxes: [{
                           ticks: {
                               callback: function(value, index, values) {
                                   return '₹' + value;
                               }
                           }
                       }]
                   },

               }
           });
       </script>
       </div>
       <div class="col-xl-2 col-lg-4 col-sm-12 order-sm-last col-md-4 ">
           <div class="shadow" style="margin-top: 5%;background-color: rgba(163,194,173,0.5);width: 100%;height: 109px;border-radius: 14px;"><span></span><i class="fa fa-arrow-circle-o-down" style="font-size: 37px;color: rgb(34,119,37);background-color: rgba(118,206,111,0.66);border-radius: 27px;border-width: 0px;margin: 0px;width: 54px;height: 54px;padding: 8px;margin-top: 24px;margin-left: 16px;padding-left: 11px;padding-top: 9px;"></i>
               <div class="float-right" style="height: 100%;background-color: rgba(255,255,255,0);width: 60%;"><strong style="font-size: 31px;">{{roomno}}</strong>
                   <p style="font-size: 1.1em;">Room Number </p>
               </div>
           </div>
     </div>
</div>
<div class="container-fluid shadow">
    <div class="row row-content align-items-center">
        <div class="col-xl-4 col-lg-8 col-sm-12 order-sm-last col-md-8">
           <div class="chart-container" >
               <canvas id="myChart3" height="500" width="550" style="display: block; height: 100%; width: 100%;"></canvas>
           </div>
           <script>
               var ctx = document.getElementById('myChart3').getContext('2d');
               var myChart = new Chart(ctx, {
                   type: 'line',
                   data: {
                       labels: [
                           {{#forEach monthUnit}}
                               "{{this.month}}",
                           {{/forEach}}
                       ],
                       datasets: [{
                           label: 'Month Electricity Unit',
                           data:  [
                               {{#forEach monthUnit}}
                                   "{{this.elec}}",
                               {{/forEach}}
                           ],
                           backgroundColor:"rgba(231,88,117,0.55)",
                           pointBackgroundColor:"#52db09",
                           borderColor:"rgba(165,11,11,0.97)"
                       }]
                   },
                   options: {
                       responsive:true,
                       maintainAspectRatio:true,
                       legend:{
                           display:true,
                           position:'bottom',
                           labels:{
                               fontSize:15,
                           },
                       },
                       title:{
                           display:true,
                           text:"Tenants Electricity Unit Consumption",
                           fontSize:20
                       },
                       scales: {
                           yAxes: [{
                               ticks: {
                                   callback: function(value, index, values) {
                                       return  value+' kwh';
                                   }
                               }
                           }]
                       },

                   }
               });
           </script>
           
       </div>
       <div class="col-xl-3 col-lg-4 col-sm-12 order-sm-last col-md-4 ">
           <div class="shadow" style="height: fit-content;background-color: #ffffff;width: 20vw;border-radius: 7px;margin-left: 204px;padding-left: 13px;padding-right: 2px;padding-top: 4px;">
               <p class="d-inline" style="margin-left: 0px;width: 172px;">Month: January</p><span class="float-right" style="margin-right: 12px;"><i class="fa fa-rupee" style="color: var(--blue);"></i> 56491</span>
               <div class="progress border rounded" style="height: 7px;margin-top: -1px;width: 94%;color: rgba(255,255,255,0);background-color: #1d8f30;font-size: 12px;border-style: none;">
                   <div class="progress-bar bg-success progress-bar-animated" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
               </div>
               <div class="table-responsive table-borderless" style="height: fit-content;background-color: rgba(244,244,244,0);width: 103%;padding-right: 3px;margin-left: -4px;">
                   <table class="table table-bordered">
                       <tbody>
                       <tr style="height: 18px;font-size: 16px;">
                           <td style="padding: 0px;height: 18px;width: 20%;">TID</td>
                           <td style="padding: 0px;height: 17px;width: 40%;">213</td>
                       </tr>
                       <tr style="height: 18px;font-size: 16px;">
                           <td style="padding: 0px;height: 18px;width: 20%;">Paid On</td>
                           <td style="padding: 0px;height: 17px;width: 40%;">23 December 2020 </td>
                       </tr>
                       <tr style="height: 18px;font-size: 16px;">
                           <td style="padding: 0px;height: 18px;width: 20%;">Base Rent</td>
                           <td style="padding: 0px;height: 17px;width: 40%;"><i class="fa fa-rupee" style="color: var(--blue);"></i> 23133</td>
                       </tr>
                       <tr style="height: 18px;font-size: 16px;">
                           <td style="padding: 0px;height: 18px;width: 20%;">Maintenance</td>
                           <td style="padding: 0px;height: 17px;width: 40%;"><i class="fa fa-rupee" style="color: var(--blue);"></i> 3134 </td>
                       </tr>
                       <tr style="height: 18px;font-size: 16px;">
                           <td style="padding: 0px;height: 18px;width: 20%;">Security</td>
                           <td style="padding: 0px;height: 17px;width: 40%;"><i class="fa fa-rupee" style="color: var(--blue);"></i> 7831</td>
                       </tr>
                       <tr style="height: 18px;font-size: 16px;">
                           <td style="padding: 0px;height: 18px;width: 20%;">Water</td>
                           <td style="padding: 0px;height: 17px;width: 40%;"><i class="fa fa-rupee" style="color: var(--blue);"></i> 3133</td>
                       </tr>
                       <tr style="height: 18px;font-size: 16px;">
                           <td style="padding: 0px;height: 18px;width: 20%;">Electricity</td>
                           <td style="padding: 0px;height: 17px;width: 40%;"><i class="fa fa-rupee" style="color: var(--blue);"></i> 469</td>
                       </tr>
                       <tr style="height: 18px;font-size: 16px;">
                           <td style="padding: 0px;height: 18px;width: 20%;">Initial Unit</td>
                           <td style="padding: 0px;height: 17px;width: 40%;"> 2122</td>
                       </tr>
                       <tr style="height: 18px;font-size: 16px;">
                           <td style="padding: 0px;height: 18px;width: 20%;">Final Unit</td>
                           <td style="padding: 0px;height: 17px;width: 40%;"> 3131</td>
                       </tr>
                       <tr style="height: 18px;font-size: 16px;">
                           <td style="padding: 0px;height: 18px;width: 20%;">Date Gen</td>
                           <td style="padding: 0px;height: 17px;width: 40%;">23 December 2020 </td>
                       </tr>
                       <tr style="height: 18px;font-size: 16px;margin-top: 1px;">
                           <td style="padding: 0px;height: 18px;width: 20%;padding-left: 3px;"><button class="btn btn-primary btn-sm" type="button" style="color: var(--cyan);background: rgb(167,184,202);width: 53px;"><i class="fa fa-chevron-left" style="color: rgb(255,255,255);font-size: 18px;"></i></button></td>
                           <td class="float-right" style="padding: 0px;height: 17px;width: 40%;"><button class="btn btn-primary btn-sm" type="button" style="width: 53px;background: rgb(167,184,202);"><i class="fa fa-chevron-right" style="font-size: 18px;"></i></button></td>
                       </tr>
                       </tbody>
                   </table>
               </div><small class="form-text text-muted" style="margin-top: 0px;">*Transactions details of month: January</small>
           </div>
        </div>
        <div class="container-fluid" style="width: 85%">
   <div class="row row-content align-items-center">
       <div class="col-sm-4 col-md-3">
           <h3 class="display-4">Rent Metric</h3>
       </div>
       <div class="col-sm col-md ">
           <table class="table table-bordered table-striped mb-0 shadow">
               <thead class="bg-dark" style="color: floralwhite;">
               <tr>
                   <th scope="col">Sl.No</th>
                   <th scope="col">Metric Name</th>
                   <th scope="col">Rent (In Rs.)</th>
               </tr>
               </thead>
               <tbody>
               <tr>
                   <th scope="row">1.</th>
                   <td class="lead">Base Rent</td>
                   <td class="lead">Rs {{baseRent}}</td>
               </tr>
               <tr>
                   <th scope="row">2.</th>
                   <td class="lead">Water</td>
                   <td class="lead">Rs {{water}}</td>
               </tr>
               <tr>
                   <th scope="row">3.</th>
                   <td class="lead">Electricity</td>
                   <td class="lead">Rs {{elec}} (per Unit)</td>
               </tr>
               <tr>
                   <th scope="row">4.</th>
                   <td class="lead">Security</td>
                   <td class="lead">Rs {{security}}</td>
               </tr>
               <tr>
                   <th scope="row">5.</th>
                   <td class="lead">Maintainance</td>
                   <td class="lead">Rs {{maint}}</td>
               </tr>
               </tbody>
           </table>
           
       </div>
   </div>
</div>

{{>footerL}}