{{>navBarL}}
<div class="jumbotron jumbotron-fluid " style="background-color: #FFFFFF">
    <h1 style="width: 78%;background-repeat: no-repeat;background-color: #ffffff;font-size: 20px;margin-left: 10%;margin-top: 1%;">Dashbord <i class="fa fa-chevron-right"></i> Tenant Details<form action="/landlord-tenant" method="post" style="float: right"><button class="btn btn-info float-right" type="submit" style="height: 30px;width: 99px;margin: 0px;margin-left: 18px;padding: 0px;font-size: 17px;padding-bottom: 0px;">Search</button><input id="autotenant" type="text" class="float-right" name="name" placeholder="Tenant Name" ></form></h1>
    {{#each tenant}}
    <div class="container-fluid shadow" style="background-color: #E9ECEF;width: 80%;margin-top: 37px;margin-bottom: 15px;">
        <div class="table-responsive d-flex" style="width: 100%;height: 100%;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="width: 30%;"> Tenant ID:&nbsp; {{this.tenantID}}</th>
                        <th style="width: 20%;">Tenant Name:&nbsp; {{this.fname}} {{this.lname}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding-right: 0;">Joined on: {{#convLocal}} {{this.idcreatedON}} {{/convLocal}}</td>
                        <td>Mobile no: {{this.mobile}}</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 0;">Room no: {{this.room}}</td>
                        <td>Email: {{this.email}}</td>
                    </tr>
                    <tr>
                        <td style="padding: 12px;padding-right: 0px;">Allocated on: {{#convLocal}} {{this.allotON}} {{/convLocal}}</td>
                        {{#if this.verified}}
                            <td>Verified: <i data-toggle="tooltip" class="fa fa-check-circle" style="font-size: 20px;color: rgb(8,140,215);" title="Verified User"></i></td>
                        {{else}}
                            <td>Verified: <i data-toggle="tooltip" class="fa fa-times-circle" style="font-size: 20px;color: rgb(239,45,45);" title="Not Verified"></i></td>
                        {{/if}}
<!--                        <td style="padding-right: 0;">Verified: {{this.verified}}</td>-->
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <button type="button" value={{this.tenantID}} onclick="deleteTenant(this)" title="Deleting tenant delets all TRASNACTIONS associated" data-toggle="tooltip" data-bs-tooltip="" class="btn-danger float-left" style="margin:0px;padding:2px 8px;width: auto;color: #FFFFFF;border-radius: 30px">Remove Tenant</button>
                            <a href="/landlord-send?sendto={{this.tenantID}}" class="btn btn-info" role="button" style="margin:0px;padding:2px 8px;width: auto;color: #FFFFFF;border-radius: 30px">Send Message</a>
                            <form action="/landlord-trans" method="post" style="float: right">
                                <button class="btn btn-success" type="submit" style="height: 30px;width: auto;margin: 0px;margin-left: 18px;padding: 2px 8px;font-size: 17px;border-radius: 30px">
                                    Transactions
                                </button>
                                <input type="text" name="name" value="ID: {{this.tenantID}}" style="display: none" >
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {{/each}}
    </div>
    <footer>
         <div class="row justify-content-center">
        <div>
            <p>© Copyright 2020 Renting Management System</p>
        </div>
    </div>
    </footer>
