<!--<!DOCTYPE html>-->
<!--<html>-->

<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">-->
<!--    <title>Tenants</title>-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700">-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <link rel="stylesheet" href="../css/styles.min.css">-->
<!--</head>-->

<!--<body>-->
<!--    <section id="hero" style="width: 100%;height: 60px;font-size: 15px;font-family: 'Alegreya Sans', sans-serif;padding: -7px;filter: blur(0px);">-->
<!--        <nav class="navbar navbar-dark navbar-expand-md fixed-top border-info text-center border rounded-0 shadow-sm visible" data-toggle="tooltip" data-bs-tooltip="" style="background-color: #39424E;height: 60px;padding: 12px;color: rgb(255,255,255);">-->
<!--            <div class="container-fluid"><a class="navbar-brand" href="/landlord-landing" style="color: rgba(247,247,247,0.9);font-size: 29px;font-family: 'Archivo Black', sans-serif;">Renting System</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>-->
<!--                <div-->
<!--                    class="collapse navbar-collapse" id="navcol-1" style="color: rgb(246,243,243);margin-top: 3px;">-->
<!--                    <ul class="nav navbar-nav" style="font-size: 24px;">-->
<!--                        <li class="nav-item" role="presentation"style="background-color: #39424E;"><a class="nav-link " href="/landlord-trans" style="background-color: #39424E;color: rgb(255,255,255);font-family: 'Alegreya Sans', sans-serif;font-size: 18px;padding: 0px;margin: 6px;margin-right: 15px;margin-top: 9px;">TRANSACTIONS</a></li>-->
<!--                        <li class="nav-item" role="presentation"style="background-color: #39424E;"><a class="nav-link" href="/landlord-createTenant" style="background-color: #39424E;color: rgb(249,247,247);font-family: 'Alegreya Sans', sans-serif;font-size: 18px;margin-right: 15px;filter: blur(0px);">CREATE TENANT</a></li>-->
<!--                            <li class="nav-item" role="presentation"style="background-color: #39424E;"><a class="nav-link" href="/landlord-genBill" style="background-color: #39424E;color: rgb(254,254,254);font-size: 18px;font-family: 'Alegreya Sans', sans-serif;margin-right: 15px;">BILL GENERATE</a></li>-->
<!--                            <li class="nav-item" role="presentation"style="background-color: #39424E;"><a class="nav-link active border rounded-0" href="/landlord-tenant" style="background-color: #39424E;color: rgb(255,255,255);font-size: 18px;font-family: 'Alegreya Sans', sans-serif;margin-right: 15px;">TENANTS</a></li>-->
<!--                            <li class="nav-item" role="presentation"style="background-color: #39424E;"><a class="nav-link" href="/landlord-notification" style="background-color: #39424E;color: rgb(255,255,255);margin-right: 15px;font-size: 18px;">NOTIFICATIONS</a></li>-->
<!--                            <li class="nav-item" role="presentation"style="background-color: #39424E;"><a class="nav-link" href="#" style="background-color: #39424E;font-size: 18px;font-family: 'Alegreya Sans', sans-serif;">Welcome, Tarun rana&nbsp; &nbsp; &nbsp; ID: 232</a></li>-->
<!--                    </ul><a class="btn text-white border-white ml-auto" role="button" href="/landlord-profile" style="background-color: #39424e;margin-right: 38px;font-size: 23px;font-family: 'Alegreya Sans', sans-serif;padding: 4px;padding-top: 1px;padding-right: 17px;padding-bottom: 1px;padding-left: 17px;">Profile</a>-->
<!--                    <a class="btn text-white border-white" role="button" href="/landlord-logout" style="background-color: #39424e;font-size: 23px;font-family: 'Alegreya Sans', sans-serif;filter: blur(0px) grayscale(0%);padding: 0px;padding-right: 17px;padding-top: 1px;padding-left: 17px;padding-bottom: 1px;">Logout</a>-->
<!--            </div>-->
<!--            </div>-->
<!--        </nav>-->
<!--    </section>-->
<script src="new.js"></script>
{{>navBarL}}
<div class="jumbotron jumbotron-fluid " style="background-color: #FFFFFF">
    <h1 style="width: 50%;background-repeat: no-repeat;background-color: #ffffff;font-size: 20px;margin-left: 10%;margin-top: 1%;">Dashboard&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;Tenant Details</h1>
    {{#each tenant}}
    <div class="container-fluid shadow" style="background-color: #E9ECEF;width: 80%;margin-top: 37px;margin-bottom: 15px;">
        <div class="table-responsive d-flex" style="width: 100%;height: 100%;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="width: 30%;"> Tenant ID:&nbsp; {{this.tenantID}}</th>
                        <th style="width: 20%;">Tenant Name:&nbsp; {{this.fname}} {{this.lname}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding-right: 0;">Joined on: {{replace (remove (moment this.idcreatedON) "+05:30") "T" " Time: "}}</td>
                        <td>Mobile no: {{this.mobile}}</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 0;">Room no: {{this.room}}</td>
                        <td>Email: {{this.email}}</td>
                    </tr>
                    <tr>
                        <td style="padding: 12px;padding-right: 0px;">Allocated on: {{replace (remove (moment this.allotON) "+05:30") "T" " Time: "}}</td>
                        {{#if this.verified}}
                            <td>Verified: <i data-toggle="tooltip" class="fa fa-check-circle" style="font-size: 20px;color: rgb(8,140,215);" title="Verified User"></i></td>
                        {{else}}
                            <td>Verified: <i data-toggle="tooltip" class="fa fa-times-circle" style="font-size: 20px;color: rgb(239,45,45);" title="Not Verified"></i></td>
                        {{/if}}
<!--                        <td style="padding-right: 0;">Verified: {{this.verified}}</td>-->
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <button type="button" value={{this.tenantID}} onclick="deleteTenant(this)" class="btn-primary-Action bg-danger" style="margin:0px;padding:2px 8px;width: auto;color: #FFFFFF;border-radius: 30px">Remove Tenant</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {{/each}}
    </div>
    <footer>
         <div class="row justify-content-center">
        <div>
            <p>© Copyright 2020 Renting Management System</p>
        </div>
    </div>
    </footer>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>-->
<!--    <script src="../script/script.min.js"></script>-->
<!--</body>-->

<!--</html>-->