<!doctype html>
<html lang="en">
  <head>
    <title>Tenant Log In/Sign Up</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="CSStenet.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/fonts/fontawesome5-overrides.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
      <script src="new.js"></script>
  </head>
  <body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
      <a class="navbar-brand mr-auto" href="#"><img src="logof.png" height="41" width="100"></a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
              aria-expanded="false" aria-label="Toggle navigation"></button>
      <h4 style="color: #FFFFFF">Login Signup For Tenant <span class="sr-only">(current)</span></h4>
  </nav>
    <div class="jumbotron jumbotron-fluid ">

        <!--      Login with Google-->
        <center>
            <a id="googlelogin" href="/auth/google">
                <div id="login">
                    <div style="float:left;padding-right: 10px">
                        <img src="google.png" alt="Google Logo" height="27px" width="27px">
                    </div>
                    <span>Login/Signup with Google</span>
                </div>
            </a>
        </center>
      
      <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-1">
                <h3>Log In </h3>
                <h5>{{message}} </h5>
                <form method="post" action="/tenant-login">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your ID*" required  name="tenantID" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Your Password *" required name="tenantpswd" />
                    </div>
                    <div class="form-group">
                       <!--- <input type="submit" class="btnSubmit" value="Login" /> -->
<!--                        <a name="" id="" class="btn btnSubmit" href="/tenant-login" role="button">LogIn</a>-->
                        <button class="btnSubmit" type="submit" class="subm" value="submit">LogIn</button>
                    </div>
                    <div class="form-group">
                        <a href="#" class="ForgetPwd">Forget Password?</a>
                    </div>
                </form>
            </div>
            <div class="col-md-6 login-form-2">
                <h3>Sign Up</h3>
                <h5 style="font-size: 20px;color: #FFFFFF;text-align: center ">{{message1}} </h5>
                <form method="post" action="/tenant-signup">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder=" First Name *"  name="fname" value="{{fname}}" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder=" Last Name *"  name="lname" value="{{lname}}" />
                    </div>
                    <div class="form-group">
                        <small class="form-text text-light" ID="exist" style="display: none; width: 115px;"><i class="fa fa-check bg-light border rounded-0" style="color: rgb(39,150,20);"></i>  Landlord <strong>exists</strong></small>
                        <small class="form-text text-light" id="notexist"  style="display: none; width: 170px;"><i class="fa fa-close bg-light border rounded-0" style="color: rgb(232,27,27);width: 14px;padding-left: 1px;"></i>  Landlord does <strong>not </strong>exist</small>
                        <input type="text" class="form-control" oninput="checkLandlord()" placeholder="Your Landlord ID *" id="landlordinp" name="id" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Email *"  name="email" value="{{email}}" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Create Your Password *"  name="pswd"/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Confirm Your Password *"/>
                    </div>
                    <div class="form-group">
                         <button class="btnSubmit" type="submit" class="subm" value="submit">SignUp</button>
                    </div>
                   
                </form>
            </div>
        </div>
    </div>
</div>
  <!--  {{>try}}
    {{add 12 232}}  -->
<footer>
    <div class="row justify-content-center">             
        <div>
            <p>© Copyright 2020 Renting Mangemant System</p>
        </div>
   </div>
  </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>