{{>tenantNav}}
<div class="jumbotron jumbotron-fluid" style="background-color: #FFFFFF">
    <h1 style="width: 78%;background-repeat: no-repeat;background-color: #ffffff;font-size: 20px;margin-left: 10%;margin-top: 3%; display: inline-block">Dashbord <i class="fa fa-chevron-right"></i> Transactions</h1>
    <div class="container" style="width: 30%;">
        <div class="btn-group-vertical d-inline float-none" role="group" id="selection" style="margin: 0;margin-top: 0;height: 31px;width: 120px;padding: 0px;font-size: 21px;font-family: 'Alegreya Sans', sans-serif;color: rgb(1,1,1);margin-right: 0px;margin-left: 0;">
            <a class="btn btn-primary bg-light border rounded-0 border-white shadow" role="button" style="background-color: #FFFFFF;color: rgb(0,0,0);font-size: 23px;font-family: 'Alegreya Sans', sans-serif;padding: 0px;height: 40px;" href="/tenant-trans?fetch=all">All Transaction</a>
            <a class="btn btn-primary border rounded-0 border-white shadow" role="button" style="padding: 1px;background-color: #FFFFFF;color: rgb(1,1,1);font-size: 23px;height: 40px;" href="/tenant-trans?fetch=paid">Recieved Transaction</a>
            <a class="btn btn-primary border rounded-0 border-light shadow" role="button" style="background-color: #FFFFFF;color: rgb(4,4,4);font-size: 23px;height: 40px;" href="/tenant-trans?fetch=unpaid">Pending Transaction</a></div>
    </div>
    {{#each trans}}
        <div class="container-fluid shadow" style="width: 60%;margin-top: 37px;margin-bottom: 15px;background-color: #E9ECEF;">
            <div class="table-responsive d-flex" style="width: 100%;height: 100%;">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="width: 30%;">Transaction ID:&nbsp; {{this.tid}}</th>
                        <th style="width: 20%;">Total Amount:&nbsp; Rs {{this.amount}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="padding-right: 0;">Year: {{this.year}}</td>
                        <td>Month:  {{#getMonth}} {{this.month}} {{/getMonth}}</td>
                    </tr>
                    <tr>
                        {{#if this.datePaid}}
                            <td>Paid ON: {{#convLocal}} {{this.datePaid}} {{/convLocal}}</td>
                        {{else}}
                            <td>Paid ON: Unpaid</td>
                        {{/if}}
                        <td>Base Rent: Rs {{this.baseRent}}</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 0;">Created on: {{#convLocal}} {{this.dateGen}} {{/convLocal}}</td>
                        <td>Water: Rs {{this.water}}</td>
                    </tr>
                    <tr>
                        <td style="padding: 12px;padding-right: 0px;">Initial Unit: {{this.initialUnit}}</td>
                        <td>Final Unit: {{this.finalUnit}}</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 0;">Tenant ID: {{this.tenantID}}</td>
                        <td>Security: Rs {{this.security}}</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 0;">Electricity: Rs {{this.electricity}}</td>
                        <td>Maintenance: Rs {{this.maintenance}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <a class="btn btn-info" role="button" style="padding: 3px;font-size: 16px;font-family: 'Alegreya Sans', sans-serif;" target="_blank" href="/invoice?tid={{this.tid}}&sec={{this.landlordID}}">Print Invoice</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {{/each}}
</div>